.ListContainer {
  height: 30%;
  margin-bottom: 80px;
}
.UserList {
  list-style: none;
  font-size: 80%;
  margin-top: 3px;
  background-color: #fff;
  height: 100%;
  overflow-y: auto;
  border: 1px solid #ccc;
  width: 100%;
}
.UserList li {
  font-size: 80%;
  padding: 5px;
  cursor: pointer;
}
