.Table {
  width: 100%;
  border-collapse: collapse;
}
.Table th,
td {
  text-align: left;
  padding: 15px;
  border: none;
  font-size: 80%;
}
.Table tr {
  border-bottom: 1px solid #ebedee;
}
.Table thead tr {
  border-bottom: 1.8px solid #000;
}
