.Toolbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10%;
  padding: 0 40px;
  background-color: #fff;
  z-index: 250;
  border: 1px solid #eee;
  box-shadow: 0px 2px 2px #ccc;
  width:100%
}
.Content{
  display:flex;
  align-items: center;
  justify-content: space-between;
  transition: margin-left 0.3s ease-out;
  height: 100%;
}
.ContentOpen{
  margin-left:250px;
}
.ContentClose{
  margin-left:62.5px;
}
@media (max-width: 750px) {
  .ContentOpen {
    margin-left: 62.5px;
  }
}
.UserInfo {
  color: #333;
  font-size: 80%;
}
.UserActions {
  cursor: pointer;
}
.UserActions ion-icon {
  margin-left: 8px;
  display: inline-block;
  cursor: pointer;
  font-size: 80%;
  font-weight: bold;
  vertical-align: middle;
}

.Bug{
  font-size:200%;

}
.Logout {
  font-size: 80%;
  color: #333;
}
