.Button {
  background-color: inherit;
  font-weight: bold;
  font-size: 100%;
  padding: 20px;
  cursor: pointer;
}
.Success {
  color: #27ae60;
  outline: none;
  border: none;
}

.Danger {
  color: #e74c3c;
  outline: none;
  border: none;
}
.Disabled {
  cursor: not-allowed;
  color: #888;
}
