.Button{
    background-color: inherit;
    font-weight: bold;
    font-size:100%;
    padding:20px;
}
.Success {
  color: #27ae60;
  outline: none;
  border: none;
}

.Danger {
  color: #e74c3c;
  outline: none;
  border: none;
}
