.Details {
    width: 100%;
    background-color: #fff;
  }
  .Objects {
    display: flex;
    justify-content: space-around;
  }
  .Objects > div {
    width: 49%;
    min-height: 80px;
  }

  @media (max-width:900px){
    .Objects {
        display: block;

      }
      .Objects > div {
        width: 100%;
      }

  }
