.Details {
    width: 100%;
    background-color: #fff;
  }
  .Objects {
    display: flex;
    justify-content: space-around;
  }
  .Objects > div {
    width: 49%;
    min-height: 80px;
  }
  .ModalHeader p {
    font-size: 60%;
    line-height: 4px;
  }
  .ModalHeader button {
    outline: none;
    border: none;
    font-size: 60%;
    padding: 2px;
    text-decoration: underline;
    cursor: pointer;
    background-color: inherit;
    color: #fff;
  }

  @media (max-width:900px){
    .Objects {
        display: block;

      }
      .Objects > div {
        width: 100%;
      }

  }
