.Comments {
  margin-top: 30px;
}
.CommentsPara {
  font-weight: 300;
  color: #333;
}
.CommentsInput {
  float: right;
  width: 70%;
}
.CommentsInput input {
  width: 78%;
  margin-right: 2%;
  height: 30px;
  outline: none;
  display: inline-block;
}
