.Login {
  width: 30%;
  margin: auto;
  background-color: #fff;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 0px 2px 2px #ccc;
  margin-top: 100px;
}
.Header{
  margin-bottom:5px;
  text-align: center;
}
.Header ion-icon{
  font-size: 200%;
  display: inline-block;
  vertical-align: middle; 
  margin-right:5px;
}
.Background {
  width: 100%;
  height: 100%;
  position:fixed;
  top:0;
  left:0;
  background-image: url("../../assets/images/login.jpg");
  background-position: center;
  background-size: cover;
}
.Login p {
  text-align: center;
}

.Button {
  border: none;
  outline: none;
  background-color: inherit;
  display: block;
  margin: auto;
  color: #444;
  margin-top: 20px;
  cursor: pointer;
}
.Button:hover {
  color: #000;
}

@media(max-width:1000px){
  .Login{
    width:50%;
  }
}

@media (max-width: 750px) {
  .Login {
    width: 65%;
  }
}
@media (max-width:500px){
  .Login{
    width:80%;
  }
}
@media (max-width:300px){
  .Login{
    width:100%;
  }
}
