.Desc {
  display: flex;
  padding: 15px;
}
.Desc > div {
  width: 50%;
  padding: 15px;
  background-color: #fff;
}
.Desc p {
  font-size: 60%;
}
.ParaHeader {
  color: #aaa;
  margin-bottom: 7px;
}
